@* @{ *@
@*     ViewData["Title"] = ViewData["Title"] ?? "About"; *@
@* } *@

@* <h1>@ViewData["Title"]</h1> *@
@* <p>@ViewData["Message"]</p> *@
@* <p>This app is built with ASP.NET Core MVC in Visual Studio 2022.</p> *@



@model AboutVM
<h1>@Model.Title</h1>
<p>@Model.Message</p>